
.drop-shadow {
  filter: drop-shadow(2px 0px 2px #99b6bc);
}

.no-select {
  user-select: none;
}

.bg-primary {
  background-color: #0dcaf0 !important;
}

.dropdown-item:active, .dropdown-item:hover {
  background-color: #0dcaf0 !important;
}

tbody > tr:hover > * {
  background-color: #ffff !important;
  color: rgb(254, 254, 254) !important;
}